@charset "utf-8";
/* CSS Document */
html {
	font-family:"Arial", "Microsoft Yahei";
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body, textarea, select, input {
	font-family: "Arial","Microsoft yahei";
	outline: none;
	border: 0;
	overflow-x: hidden;
	/*min-height: 100%;*/
}
a{
    color: #333;
    text-decoration: none;
}
a:link{
    color: #333;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}

a:hover {
    color: #00a3fe;
    text-decoration: none;
}
a:active {
    text-decoration: none;

}
button{
    outline: none;
}
h1, h2, h3, h4, h5, h6{
	margin:0;
}
li {
	list-style: none;
}
fieldset, img, html, body, iframe {
	border: 0;
}
a, button {
	cursor: pointer;
}
body {
    color: #666;
	text-align: left;
	/*-webkit-user-select: none;
	/*moz-user-select: none;*/
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	/*padding: 0;*/
	/*margin: 0;*/
	/*color: #616161;*/
	font-size: 14px;
	font-family: "Arial", "Microsoft Yahei";
}
.f-fl{
    float: left;
}
.f-fr{
    float: right;
}
.m-index {
	background-color: #fff;
}
.mt10{
	margin-top: 10px;
}
.mt60{
	margin-top: 60px;
}
.mt15{
	margin-top: 15px;
}
.mt25{
	margin-top: 25px;
}
.mt30{
    margin-top: 30px;
}
.mt20{
	margin-top: 20px;
}
.mb0{
	margin-bottom: 0px;
}
.mb10{
	margin-bottom: 10px;
}
.mb20{
    margin-bottom: 20px;
}
.mb30{
	margin-bottom: 30px;
}
.mb60{
    margin-bottom: 60px;
}
.ml24{
	margin-left: 24px;
}
.ml20{
	margin-left: 20px;
}
.ml30{
    margin-left: 30px;
}
.ml40{
    margin-left: 40px;
}
.mr40{
    margin-right: 40px;
}
.ml5{
	margin-left: 5px;
}
.mtb10{
	margin: 10px 0;
}

.ml10{
	margin-left: 10px;
}
.mr5{
	margin-right: 5px;
}
.mr10{
	margin-right: 10px;
}
.mr20{
    margin-right: 20px;
}
.pl10{
	margin-left: 10px;
}
.pt10{
	padding-top: 10px;
}
.pt15{
	padding-top: 15px;
}
.pt20{
    padding-top: 20px;
}
.pt30{
    padding-top: 30px;
}
.pr10{
	padding-right: 10px;
}
.pr20{
    padding-right: 20px;
}
.pr5{
	padding-right: 5px;
}
.pr7{
    padding-right: 7px;
}
.pl15{
	padding-left: 15px;
}
.pl26{
    padding-left:26px;
}
.pl25{
    padding-left: 25px;
}
.pr15{
	padding-right: 15px;
}
.plr5{
	padding: 0 5px;
}
.plr10{
	padding: 0 10px;
}
.pad0{
	padding: 0;
}
.pb40{
    padding-bottom: 40px;
}
.margin-bottom-18{
	margin-bottom: 18px;
}


.fz30{
	font-size: 30px;
}
.ft20{
	font-size: 20px;
}
.fz16{
	font-size: 16px;
}
.fz14{
	font-size: 14px;
}
.fz12{
	font-size: 12px;
}
.clear{
	height: 0;
	overflow: hidden;
	clear: both;
}
.colh{
	color: #fff000;
}
.col-red{
	color: red;
}
.col-orange{
	color: #ff6b0a;
}
.col-chense{
	color: #fb8821;
}
.col-9{
    color: #999;
}
.col-6{
    color: #666;
}
.col-3{
    color: #333;
}
.col-main{
	color: #00a3fe;
}
.col-blue{
	color: #00acea;
}
.line-height-20{
	line-height: 20px;
}
.f-cb {
    zoom: 1;
}
.f-cb:after{
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.f-dn{
    display:none;
}

.f-pr{
	position: relative;
}
.f-pa{
	position: absolute;
}
em{
	font-style:normal;
}
a {
    -webkit-transition: color .3s ease,background .3s ease;
    -moz-transition: color .3s ease,background .3s ease;
    -o-transition: color .3s ease,background .3s ease;
    transition: color .3s ease,background .3s ease;
}
.gray{
    background-color:  #F5F8FA;
}

